<% if session[:errors] %>
<div class= "error_explanation" align= "center">
  <% errors = session[:errors] %>
  <ul class="validation_error">
    <% errors.full_messages.each do |msg| %>
    <li class="validation_error"><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>