<div id="container">

<h1 align = "center"> Create your blog below </h1>
  <p class="create">
     Blog rules
    <ol>
      <li> Mortal Combat Talk only </li>
      <li> Videos re-enacting your favorite fatalities are banned</li>
      <li> Threads dissing Scorpion are also banned</li>
    </ol>
  </p>

  <form action= "/create" method="post" onSubmit="return confirm('Are you sure you want to submit?');">
        <label>Title: </label><input class="form" type= "text" name="title"><br>
          <label> Post: </label><textarea wrap= "virtual" name="body" rows="4" columns="50"></textarea><br>
          <label>Tags: </label> <input class="form"type="text" name="name"><br>
         <input class="submit" type="submit" value="Submit">
  </form>
</div>

<form action= '/logout' methods="get">
    <input class="submit" type="submit" value= "Sign out">
</form>
