<div id="container">

<h1 align = "center"> Create your blog below </h1>
  <p class="create">
     Blog rules
    <ol>
      <li> Mortal Combat Talk only </li>
      <li> Videos re-enacting your favorite fatalities are banned</li>
      <li> Threads dissing Scorpion are also banned</li>
    </ol>
  </p>

  <form action= "/create" method="post" onSubmit="return confirm('Are you sure you want to submit?');">
  Title: <input type= "text" name="title"><br>
  Body:  <input class="body" name="body"><br>
  Tags:  <input type="text" name="name"><br>   
         <input type="submit" value="Submit">
  </form>




</div>
